<div class="jumbotron text-center">
  <h2>Friends</h2>
</div>

<div>
  <div class="col-sm-5">
  </div>
  <div class="col-sm-2">
    <nav class="navbar navbar-inverse" >
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/friends-add">Add friend</a></li>
          <li routerLinkActive="active"><a routerLink="/friends-manage">Manage friends</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-sm-5">
  </div>
</div>

<div class="container col-sm-12">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <h3>Change your nickname</h3>
    <form (ngSubmit)="addFriend(f1)" #f1="ngForm">
      <div class="form-group">
        <label for="user"></label>
        <input type="text" name="user" id="user" ngModel class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Add friend</button>
    </form>
  </div>
  <div class="col-sm-4"></div>
</div>
