<div class="jumbotron text-center">
  <h2>My Wishlists</h2>
</div>

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <nav class="navbar navbar-inverse" >
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/my-wishlists/create-wishlist">Create Wishlist</a></li>
          <li routerLinkActive="active"><a routerLink="/my-wishlists/manage-wishlists">Manage Wishlists</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-sm-4">
  </div>
</div>
<div class="container">
  <h2>Select a wishlist to manage</h2>
  <div class="row well" *ngFor="let wishlist of wishListList">
    <p>{{wishlist.key}}</p>

  </div>

</div>
